body {
  background: #e8e8e8;
  color: gray; }

ul {
  list-style: none;
  padding: 40px; }

.my-btn {
  background: #dcdcdc;
  border: 1px solid darkgray;
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 4px 8px;
  margin: 0 10px; }

#todo-list li, .task-item {
  padding: 10px;
  border-bottom: 1px solid white; }
  #todo-list li .my-btn, .task-item .my-btn {
    float: right; }
  #todo-list li div, .task-item div {
    display: inline-block;
    width: 33%; }
  #todo-list li.undone a, .task-item.undone a {
    color: gray; }
  #todo-list li.done, .task-item.done {
    color: forestgreen; }
    #todo-list li.done a, .task-item.done a {
      color: forestgreen; }
